main {
  min-height: 100vh;
  -ms-grid-rows: 3rem 1fr;
      grid-template-rows: 3rem 1fr;
  display: -ms-grid;
  display: grid;
  background: rgba(255, 255, 255, 0.05);
  position: relative;
  --side-bar: #3f3f3f;
}

#nav-bar {
  padding: 0 25%;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: rgba(255, 190, 150, 0.1);
}

#nav-bar a {
  text-decoration: none;
  text-align: left;
  font-size: 1rem;
  color: rgba(255, 240, 230, 0.8);
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-bar a:hover {
  background: var(--accent-transparent);
}

.notes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.25fr 1fr;
      grid-template-columns: 0.25fr 1fr;
  background: var(--side-bar);
}

.projects {
  overflow-y: scroll;
  background: var(--side-bar);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects button {
  font-size: 1.1rem;
  padding: 1rem;
  background: none;
  color: var(--text-color);
  text-align: left;
  -webkit-transition: background 0.1s ease 0s;
  transition: background 0.1s ease 0s;
}

.projects button:hover, .projects button:disabled {
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: background 0.1s ease 0s;
  transition: background 0.1s ease 0s;
  cursor: pointer;
}

.save {
  padding: 1.5rem;
  color: var(--text-color);
  background: var(--side-bar);
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  height: 10%;
  background: rgba(255, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.save:hover {
  background: rgba(255, 0, 0, 0.6);
  -webkit-transition: background 0.1s ease 0s;
  transition: background 0.1s ease 0s;
  cursor: pointer;
}

.notepad {
  color: var(--text-color);
  background-color: #1f1f1f;
  font-size: 1.2rem;
  height: 100%;
  width: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.sign-out,
.sign-up {
  display: none !important;
}

.clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25%;
  width: 40%;
  padding: 4rem;
  background-color: rgba(255, 255, 255, 0.01);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem auto;
  min-height: 3rem;
  border-top: 0px;
}

.tbutton {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  margin: auto;
  width: 30%;
  font-size: 2rem;
  text-align: center;
  color: black;
  background: white;
  cursor: pointer;
}

.time-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=dashboard.css.map */