* {
    margin: 0;
    box-sizing: border-box;
    border-radius: 0;
    outline: 0;
    border: 0;

    font-family: "Merriweather", sans-serif;
}

:root {
    /* Color Palette */
    --text: #1d201f;
    --inverted-text: #f6f7eb;
    --accent-transparent: rgba(37, 32, 25, 0.707);
    --accent-color: #f6f7eb;
    --bg-color: rgb(18, 18, 18);

    color: var(--inverted-text);
    font-weight: 300;
    font-size: 16px;
}

body {
    min-height: 100vh;
    background: rgb(14, 11, 12);
    background-attachment: fixed;
    // border-left: 1.5px sol?id var(--accent-color);
    // border-right: 1.5px solid var(--accent-color);
    max-width: 90vw;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;

    user-select: none;
    text-align: right;

    .dropdown {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem !important;
        height: 100%;
    }

    button,
    .dropdown {
        padding: 1rem;
        font-size: 1rem;
        color: var(--inverted-text);
        transition: background 0.1s ease 0s;
        background: none;

        &:hover {
            cursor: pointer;
            background: var(--bg-color);
            transition: background 0.1s;
        }
    }
}

nav {
    display: none;
}

@keyframes dropdown-anim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.dropdown {
    position: relative;
    justify-self: flex-end;
    z-index: 100;

    img {
        width: 1.75rem;
    }

    &:hover nav {
        display: flex;
        flex-direction: column;

        width: 128px;
        position: absolute;
        top: 3rem;
        right: 0;

        z-index: 100;

        animation: dropdown-anim 0.25s;

        button {
            width: 100%;
            text-align: right;
        }
    }
}

.logo {
    margin-left: 1rem;
    justify-self: flex-start;
    align-self: center;
    height: 3rem;
    transition: transform 0.1s;
    z-index: 100;

    img {
        height: 3rem;
    }

    &:hover {
        cursor: pointer;
    }
}

.contactInfo {
    display: inline-block;
}

.name {
    font-size: 2rem;
    border-bottom: 4px solid white;
}

#content {
    position: relative;
    // background: var(--bg-color);
    min-height: 100vh;
}

@media only screen and (max-width: 768px) {
    .dashboard {
        display: none;
    }
}

/* Custom Scrollbar */

::-webkit-scrollbar {
    width: 0px;
}
