* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0;
  outline: 0;
  border: 0;
  font-family: "Merriweather", sans-serif;
}

:root {
  /* Color Palette */
  --text: #1d201f;
  --inverted-text: #f6f7eb;
  --accent-transparent: rgba(37, 32, 25, 0.707);
  --accent-color: #f6f7eb;
  --bg-color: rgb(18, 18, 18);
  color: var(--inverted-text);
  font-weight: 300;
  font-size: 16px;
}

body {
  min-height: 100vh;
  background: #0e0b0c;
  background-attachment: fixed;
  max-width: 90vw;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: right;
}

header .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem !important;
  height: 100%;
}

header button,
header .dropdown {
  padding: 1rem;
  font-size: 1rem;
  color: var(--inverted-text);
  -webkit-transition: background 0.1s ease 0s;
  transition: background 0.1s ease 0s;
  background: none;
}

header button:hover,
header .dropdown:hover {
  cursor: pointer;
  background: var(--bg-color);
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
}

nav {
  display: none;
}

@-webkit-keyframes dropdown-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdown-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropdown {
  position: relative;
  justify-self: flex-end;
  z-index: 100;
}

.dropdown img {
  width: 1.75rem;
}

.dropdown:hover nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 128px;
  position: absolute;
  top: 3rem;
  right: 0;
  z-index: 100;
  -webkit-animation: dropdown-anim 0.25s;
          animation: dropdown-anim 0.25s;
}

.dropdown:hover nav button {
  width: 100%;
  text-align: right;
}

.logo {
  margin-left: 1rem;
  justify-self: flex-start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 3rem;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
  z-index: 100;
}

.logo img {
  height: 3rem;
}

.logo:hover {
  cursor: pointer;
}

.contactInfo {
  display: inline-block;
}

.name {
  font-size: 2rem;
  border-bottom: 4px solid white;
}

#content {
  position: relative;
  min-height: 100vh;
}

@media only screen and (max-width: 768px) {
  .dashboard {
    display: none;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 0px;
}
/*# sourceMappingURL=index.css.map */