body {
    margin: 0;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    font-family: Arial, sans-serif;

    height: 100vh;
}

